{% extends 'cms/base.html' %}

{% block content %}

{% include 'cms/carusel.html' %}

{% include 'cms/price.html' %}

<!-- форма -->
<section>
    <div class="container class_form">
        <h1 class="text-3">Оставь заявку на ремонт</h1>
        <div class="row justify-content-center">
            <form action="{% url 'thanks_page' %}" method="post" style="width: 50%;">
                {% csrf_token %}
                 <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Тема</label><br>
                    <select id="theme" name="theme" class="form-control">
                        <option value="disain">Дизайн интерьера</option>
                        <option value="1-k">Ремонт 1-комнатной квартиры</option>
                        <option value="2-k">Ремонт 2-комнатной квартиры</option>
                        <option value="3-k">Ремонт 3-комнатной квартиры</option>
                    </select>
                    <div class="">
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Описание</label><br>
                    {{ form.short }}
                    <div class="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Имя</label><br>
                    {{ form.name }}
                    <div class="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Телефон</label><br>
                    {{ form.phone }}
                    <div class="">
                    </div>
                </div>
                <div style="float: right;" class="form-group row">
                    <button type="submit" class="btn btn-success">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}